body {
  font-family: 'Sedgwick Ave Display', cursive;
  background-color: #f3f4f6;
  color: #333;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

head {
  font-family: 'Sedgwick Ave Display', cursive;
}

.App {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;
}